[class^='col-'] { box-sizing: border-box; padding: 10px; flex: 0 0 100%; }
@media (min-width: 900px) { [class^='col-'] { flex: 0 0 50%; padding: 58px 80px 44px; } }
[class^='col-'] p { margin: 8px; }
